argon2pure==1.3
asgiref==3.5.1
attr==0.3.1
attrs==21.4.0
bcryptor==1.2.2
blinker==1.4
brotli==1.0.9
ConfigParser==5.2.0
cryptography==36.0.2
Cython==0.29.28
dl==0.1.0
docutils==0.18.1
eventlet==0.33.0
fastpbkdf2==0.2
gevent==21.12.0
greenlet==1.1.2
HTMLParser==0.0.2
importlib_metadata==4.8.1
inotify==0.2.10
ipython==8.3.0
ipywidgets==7.7.0
jnius==1.1.0
keyring==23.4.0
lockfile==0.12.2
lxml==4.8.0
nose==1.3.7
numpy==1.22.3
ordereddict==1.1
PasteScript==3.2.1
Pillow==9.1.0
protobuf==3.20.1
pyOpenSSL==22.0.0
python-dotenv==0.20.0
railroad==0.5.0
setproctitle==1.2.3
Sphinx==4.5.0
toml==0.10.2
tornado==6.1
unittest2==1.1.0
watchdog==2.1.7
xmlrpclib==1.0.1
zipp==3.8.0
blinker==1.4
click==8.1.3
Flask==2.1.2
Flask-Mail==0.9.1
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
passlib==1.7.4
py-bcrypt==0.4
python-dateutil==2.8.2
six==1.16.0
Werkzeug==2.1.2
