FLASK_ENV=production
FLASK_APP_KEY='pickYOURcrazyyyyykey934k1$!@$&!*@$*'
FLASK_MAIL_SERVER=smtp.gmail.com
FLASK_MAIL_PORT=465
FLASK_MAIL_USE_TLS=False
FLASK_MAIL_USE_SSL=True
FLASK_MAIL_USERNAME=example@gmail.com
FLASK_MAIL_PASSWORD='gmailpa$$w0rd'

# This is the email that is automatically seeded into the database upon creation,
# so the users table is not empty
FLASK_INIT_USER_EMAIL=example@gmail.com

## This section is for configuring CORS, which is enabled by default. Separate
## multiple selections with a single comma (no space) as you see below.
# Enter any hosts you want the backend CORS policy to accept. Include
# 'localhost' if you want to run it locally.
DOMAINS='localhost,mydomain.com'
# Uncomment to change default protocol
#PROTOCOLS='http,https'
# Uncomment to change default paths
#PATHS='*'
# Uncomment to change default subdomains
#SUBDOMAINS='www,'

GOOGLE_ALBUM_ID='getYourAlbumIDFromGoogle'
# Do not delete last line of this file