FLASK_ENV=production
FLASK_APP_KEY='pickYOURcrazyyyyykey934k1$!@$&!*@$*'
FLASK_MAIL_SERVER=smtp.gmail.com
FLASK_MAIL_PORT=465
FLASK_MAIL_USE_TLS=False
FLASK_MAIL_USE_SSL=True
FLASK_MAIL_USERNAME=example@gmail.com
FLASK_MAIL_PASSWORD='gmailpa$$w0rd'

# This is the email that is automatically seeded into the database upon creation,
# so the users table is not empty
FLASK_INIT_USER_EMAIL=example@gmail.com

# For connecting to your own separate Privacy Policy page (required by Google for use of their API)
PRIVACY_LINK=https://whatever.com/policy

# The JSON that you see here comes from Google Console
GOOGLE_CLIENT_SECRET='{"web":{"client_id":"fake.apps.googleusercontent.com","project_id":"your-project-id-12345","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"thuperthecret"}}'

GOOGLE_ALBUM_ID='getYourAlbumIDFromGoogle'
# Do not delete last line of this file